.navbar {
  background-color: #00B4D8;
}

.btn {
  background-color: #00B4D8;
  color: #fff;
  font-weight: 600;
}

.alert-success {
  background-color: #A3E4D7;
  width: 100%;
  padding: 4px !important;
  text-align: center;
}

.input {
  background: none;
  outline: none;
  border: none;
}

.text-title-card {
  font-weight: 600;
}

.card-title {
  background-color: #00B4D8;
  font-weight: 600;
}

sup {
  font-size: 16px;
  color: red;
}